$titulos: "Saira Stencil", sans-serif;
$contactos: "Rubik", sans-serif;
$relleno: "Roboto", sans-serif;

$textoLista: 25px;
$h2: 35px;
$rellenoFuente: 23px;
$tituloResponsive: clamp(50px, 8vw, 90px);

$colorLink: #000000;
$linkHover: blue;

$anchoLogo: 100%;
$logoResponsive: 1000px;
$marcaResponsive: 400px;
$contacto: 100px;
$contactoResponsive: 64px;

$gap: 20px;
$marginMarca: 15px;
$negrita: 500;
